[MASTER]
jobs = 4
disable =
  bad-continuation,
  wrong-import-order,
  no-member,
  import-error,
  invalid-name,
  too-few-public-methods,
  useless-object-inheritance
enable=useless-suppression
max-line-length=79
score=no
ignore=.ropeproject
load-plugins =
  pylint.extensions.docstyle,
  pylint.extensions.bad_builtin,
  pylint.extensions.check_elif,
  pylint.extensions.comparetozero,
  pylint.extensions.overlapping_exceptions,
  pylint.extensions.redefined_variable_type

[DESIGN]
max-parents = 5